
<form class="complete-form" action="<%= task_url(task) %>" method="post">
  <%= auth_token %>

  <!--TODO: Make checkbox show for completed -->
  <input
    type="hidden"
    name="_method"
    value="put">
  
  <input
    type="hidden"
    name="task[completed]"
    value="<%= true if !task.completed %>">
  
  <button class="complete-button"></button>
</form>


<span class="task-name"><a href="<%= edit_task_url(task) %>" class="task-link"><%= task.name %></a></span>

<%= render "tasks/star", task: task %>

<span class="task-due_date"><%= task.due_date %></span>
