<h1>Sign Up</h1>


<div class="landing-page background-image">
  
  <section id="landing-modal" class="Absolute-Center">
    
    <div class="Center-Container">
      
      <div class="sign-up-container">
        <%= form_errors %>
        <form class="sign-up group" action="<%= users_url %>" method="post" enctype="multipart/form-data">
          <%= auth_token %>
          
          <div class="image-upload">
              <label for="file-input">
                  <img src="<%= asset_url('icons/img-upload-icon.png') %>"/>
              </label>

              <input id="file-input" name="user[avatar]" type="file"/>
          </div>
          
          <input
            id="name"
            type="text"
            name="user[name]"
            value="<%= @user.name %>"
            placeholder="Name">
    
          <input
            id="email"
            type="text"
            name="user[email]"
            value="<%= @user.email %>"
            placeholder="Email">
    
          <input
            id="password"
            type="password"
            name="user[password]"
            placeholder="Password">
    
    
          <input type="submit" value="Create Free Account">
  
        </form>
    
        <div class="oauth-buttons">
          <%= link_to "Facebook", "/auth/facebook", id:"facebook-button" %>
          <%= link_to "Google", "/auth/google_oauth2", id:"google-button"%>
        </div>
      </div>
      <a class="back-button" href="<%= landing_url %>">Back</a>
      
    </div>
  </section>
  
</div>

