<div class="landing-page background-image">
  
  <section id="landing-modal" class="Absolute-Center group">
    
    <div class="Center-Container">
    
      <img class="logo-with-text" src="<%= asset_url('logo_with_text.png') %>">

      <div class="landing-buttons">
        <div class="oauth-buttons">
          <%= link_to "Facebook", "/auth/facebook", id:"facebook-button" %>
          <%= link_to "Google", "/auth/google_oauth2", id:"google-button"%>
        </div>
        
        <%= link_to "Demo Account", users_path, method: :post, class: "try-it-button" %>
        <a class="create-account-button" href="<%= new_user_url %>">
          Create Free Account
        </a>
        <a class="sign-in-button" href="<%= new_session_url %>">
          Sign In
        </a>
      
      </div>
        
    </div>
      
  </section>
  
</div>