<div class="app-container group">
  
  <section class="sidebar">  
    <%= render partial: "users/nav" %>
    
    <nav id="lists-index"></nav>
  </section>

  <div id="content-container" class="group">
    <section id="content">
    </section>
    <section id="side-content"></section>
  </div>
  
  <div id="modal-container">
  </div>
  
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script>

$(document).ready(function(){
  if(<%= signed_in? %>){
   window.currentUserId = <%= current_user.id %>; 
    Wunderclone.otherUsers = {};
    $.getJSON("api/users", function(data){
      data.forEach(function(user_data){
        Wunderclone.otherUsers[user_data['email']] = user_data['id'];
      })
    });
  
    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
    var channel = pusher.subscribe('notifications-' + <%= current_user.id %>);
    channel.bind('new', function(data){
      Wunderclone.Collections.lists.fetch();
      // Wunderclone.Collections.notifications.fetch();
    })
  
    channel.bind('update', function(data){
      Wunderclone.Collections.lists.fetch();
      // Wunderclone.Collections.notifications.fetch();
    })
  
    channel.bind('destroy', function(data){
      Wunderclone.Collections.lists.fetch();
      // Wunderclone.Collections.notifications.fetch();
    })
  }
});


</script>