<div class="app-container group">
  
  <section class="sidebar">  
    <%= render partial: "users/nav" %>
    
    <nav id="lists-index"></nav>
  </section>

  <div id="content-container" class="group">
    <section id="content">
    </section>
    <section id="side-content"></section>
  </div>
  
  <div id="modal-container">
  </div>
  
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script>

$(document).ready(function(){
  if(<%= signed_in? %>){
   window.currentUserId = <%= current_user.id %>; 
    Wunderclone.otherUsers = {};
    $.getJSON("api/users", function(data){
      data.forEach(function(user_data){
        Wunderclone.otherUsers[user_data['email']] = user_data['id'];
      })
    });
  
    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
    var channel = pusher.subscribe('notifications-' + <%= current_user.id %>);
    channel.bind('new', function(data){
      var list = new Wunderclone.Models.List(data.list_data.json);
      Wunderclone.Collections.lists.add(list);
      Wunderclone.Collections.notifications.fetch();
    })
  
    channel.bind('update', function(data){
      var list_data = data.list_data.json;
      var list_id = data.list_id;
      var list = Wunderclone.Collections.lists.get(list_id);
      list.set(list_data);
    })
  
    channel.bind('destroy', function(data){
      Wunderclone.Collections.lists.remove(data.list_id);
      // Wunderclone.Collections.notifications.fetch();
    })
    
    channel.bind('new-shared-task', function(data){
      var task_data = data.task_data.json
      var task = new Wunderclone.Models.Task(task_data);
      var list_id = task.get("list_id");
      var list = Wunderclone.Collections.lists.get(list_id);
      list.activeTasks().add(task);
      // Wunderclone.Collections.notifications.fetch();
    })
    
    channel.bind('delete-shared-task', function(data){
      var task_data = data.task_data.json;
      var task = Wunderclone.Collections.tasks.get(task_data.id);
      if (task){
        var list_id = task.get("list_id");
        var list = Wunderclone.Collections.lists.get(list_id);
        list.activeTasks().remove(task);
        list.completedTasks().remove(task);
      }
    })
    
    channel.bind('update-shared-task', function(data, task_id){
      var task_data = data.task_data.json;
      var task = Wunderclone.Collections.tasks.get(data.task_id);
      // debugger
      task.set(task_data);
      // Wunderclone.Collections.notifications.fetch();
    })
  }
});


</script>