<section id="modal">
    <article>
      
      <div id="top-modal-container">
        <h1>Edit List</h1>
      
        <form class="edit-list-form">
        
          <input
            type="text"
            name="list[name]"
            value="<%= list.escape("name") %>"
            placeholder="List Name">
          
          <div id="list-settings-select-container">
            <h5>List Members</h5>
          </div>
        
        </form>
        
        <form id="share-user-form">
          <input
            type="text"
            name="user_email"
            autocomplete="off"
            placeholder="Email Address...">
          <div class="invalid-email-msg">
            Please enter a valid email address.
          </div>
        </form>
        
        <ul id="list-members-ul">
        <li>
          <span class="shared-user-name"><%= list.get("owner").name %></span>
          <span class="owner-tag">Owner</span>
          <br>
          <span class="shared-user-email"><%= list.get("owner").email %></span>
        </li>
        
        <% list.get("shared_users").forEach(function(user){ %>
          <li>
            <span class="shared-user-name"><%= user.name %></span>
            <a href="#" data-id="<%= user.id %>" class="remove-list-share">Remove</a>
            <br>
            <span class="shared-user-email"><%= user.email %></span>
          </li>
        <% }) %>
        </ul>
      </div>
      
      <div id="cancel-save-container">
        <button class="delete-list"></span>
        <button id="save-list-button">Save</button>
      </div>  
    </article>
    
</section>