<h2>Lists</h2>

<ul>
  
  <li class="list">
    <a class="list-link" data-id="<%= inbox.id %>" href="#">
      <%= inbox.get("name") %>
      <span class="task-count"><%= inbox.activeTasks().length %></span>
    </a>
  </li>
  

  <% lists.forEach(function(list){ %>
    <li class="list">
      <a class="list-link" data-id="<%= list.id %>" href="#" >
        <%= list.escape('name') %>
        <span class="task-count"><%= list.activeTasks().length %></span>
      </a>
    </li>
  <% }) %>

</ul>

<a class="add-list-link" href="#/lists/new">+</a>